<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-group">
  <div class="mb-3">
    <div class="col-form-label">{{ componentName }} Tên:</div>
    <input
      type="text"
      class="form-control"
      placeholder="Nhập tên {{ componentName }}"
      [ngClass]="{ 'is-invalid': submitted && dataForm.controls.name.errors }"
      formControlName="name"
    />
  </div>
  <div class="pet-model-footer">
    @if(isUpdate){
    <button class="btn pet-btn" type="submit">Cập nhật</button>
    } @else{
    <button class="btn pet-btn" type="submit">Thêm</button>
    }
  </div>
</form>
