<div class="container auth-back-wrap">
  <div class="row justify-content-center w-100">
    <div class="shadow col-md-7 col-lg-6 p-0 auth-wrap overflow-hidden">
      <div class="auth-img"></div>
      <div class="p-4 p-md-5">
        <div class="w-100">
          <h3 class="mb-4">Thay đổi mật khẩu</h3>
        </div>
        @if (message) {
        <p>
          {{ message }}
          <a [routerLink]="['/', 'home', 'login']" class="pet-link"
            >Đăng nhập</a
          >
        </p>

        } @else {

        <form
          action="#"
          class="register-form"
          [formGroup]="form"
          (submit)="submit()"
        >
          <div class="form-group mt-3">
            <input
              formControlName="new_password"
              type="password"
              class="form-control"
              placeholder="Mật khẩu"
              [ngClass]="{
                'is-invalid': submitted && form.controls.new_password.errors
              }"
            />
            @if(submitted && form.controls.new_password.errors ){
            @if(form.controls.new_password.errors.minlength){
            <div class="text-danger">Mật khẩu phải có ít nhất 8 ký tự</div>
            } @if(form.controls.new_password.errors.required){
            <div class="text-danger">Vui lòng nhập mật khẩu</div>

            } }
          </div>
          <div class="form-group mt-3">
            <input
              formControlName="re_new_password"
              type="password"
              class="form-control"
              placeholder="Xác nhận mật khẩu"
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  (form.controls.re_new_password.errors ||
                    form.hasError('notSame'))
              }"
            />
            @if(submitted && form.controls.re_new_password.errors ){
            @if(form.controls.re_new_password.errors.required){
            <div class="text-danger">vui lòng xác nhận mật khẩu</div>

            }@else if(form.controls.re_new_password.errors.matching){
            <div class="text-danger">Mật khẩu không khớp</div>
            } }
          </div>
          <div class="form-group mt-3">
            <button class="form-control btn auth-btn submit px-3 mb-2">
              Xác nhận
            </button>
          </div>
        </form>

        }
      </div>
    </div>
  </div>
</div>
