<div class="mt-5">
  <h1>Reset password</h1>
  @if(message){
  <p>{{ message }}</p>
  } @else {
  <form class="form-group" [formGroup]="form" (submit)="submit()">
    <p>Enter new password</p>
    <input
      formControlName="new_password"
      type="password"
      class="form-control mb-3"
      placeholder="New password"
      required
    />
    <p>Confirm password</p>
    <input
      formControlName="re_new_password"
      type="password"
      class="form-control mb-3"
      placeholder="Confirm password"
      required
    />
    <button class="btn btn-primary" type="submit">Confirm</button>
  </form>
  }
</div>
