<div class="container auth-back-wrap">
  <div class="row justify-content-center w-100">
    <div class="shadow col-md-7 col-lg-6 p-0 auth-wrap overflow-hidden">
      <div class="auth-img"></div>

      <div class="p-4 register-wrap" [class.is-image]="isImage">
        <div class="account-form">
          <div class="w-100">
            <h3 class="mb-4">Đăng ký</h3>
          </div>

          <form
            action="#"
            class="register-form"
            [formGroup]="form"
            (submit)="register()"
          >
            <div class="form-group mt-3">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                placeholder="Tên đăng nhập"
                [ngClass]="{
                  'is-invalid': submitted && form.controls.name.errors
                }"
              />
              @if(submitted && form.controls.name.errors ){
              @if(form.controls.name.errors.minlength){
              <div class="text-danger">
                Tên đăng nhập phải có ít nhất 4 ký tự
              </div>
              } @if(form.controls.name.errors.required){
              <div class="text-danger">Vui lòng điền tên đăng nhập</div>

              } }
            </div>
            <div class="form-group mt-3">
              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="Email"
                [ngClass]="{
                  'is-invalid': submitted && form.controls.email.errors
                }"
              />
              @if(submitted && form.controls.email.errors ){
              @if(form.controls.email.errors.email){
              <div class="text-danger">Vui lòng điền email hợp lệ</div>
              } @if(form.controls.email.errors.required){
              <div class="text-danger">Vui lòng điền email</div>

              } }
            </div>
            <div class="form-group mt-3">
              <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Mật khẩu"
                [ngClass]="{
                  'is-invalid': submitted && form.controls.password.errors
                }"
              />
              @if(submitted && form.controls.password.errors ){
              @if(form.controls.password.errors.minlength){
              <div class="text-danger">Mật khẩu phải có ít nhất 8 ký tự</div>
              } @if(form.controls.password.errors.required){
              <div class="text-danger">Vui lòng điền mật khẩu</div>

              } }
            </div>
            <div class="form-group mt-3">
              <input
                formControlName="re_password"
                type="password"
                class="form-control"
                placeholder="Xác nhận mật khẩu"
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    (form.controls.re_password.errors ||
                      form.hasError('notSame'))
                }"
              />
              @if(submitted && form.controls.re_password.errors ){
              @if(form.controls.re_password.errors.required){
              <div class="text-danger">Vui lòng xác nhận mật khẩu</div>

              }@else if(form.controls.re_password.errors.matching){
              <div class="text-danger">Không trùng mật khẩu</div>
              } }
            </div>
            <div class="form-group mt-3">
              <button class="form-control btn auth-btn submit px-3 mb-2">
                Tiếp tục
              </button>
            </div>
          </form>
          <p class="text-center mt-3">
            "Đã có tài khoản?"
            <a [routerLink]="['/', 'home', 'login']" class="pet-link"
              >Đăng nhập</a
            >
          </p>
        </div>
        <div class="account-form">
          <a (click)="toggleImage()" class="pet-link">Quay lại</a>
          <div class="w-100">
            <h3>Ảnh đại diện</h3>
          </div>
          <div class="text-center mt-3 d-flex flex-column align-items-center">
            <img [src]="url" class="rounded-circle avatar" />
            <input
              class="mt-2"
              type="file"
              #fileInput
              (change)="onSelectFile($event)"
            />
            <button
              (click)="userConfirm()"
              class="form-control btn auth-btn submit px-3 mt-4"
            >
              Đăng ký
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
