<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5"></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
      <div class="auth-wrap">
        <div class="auth-img"></div>
        <div class="auth-wrap p-4 p-md-5">
          <div class="w-100">
            <h3 class="mb-4">Sign In</h3>
          </div>
          <form
            action="#"
            class="login-form"
            [formGroup]="form"
            (submit)="login()"
          >
            <div class="form-group mt-3">
              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="Email"
                [ngClass]="{
                  'is-invalid': submitted && form.controls.email.errors
                }"
              />
              @if(submitted && form.controls.email.errors ){
              @if(form.controls.email.errors.email){
              <div class="text-danger">Enter valid Email</div>
              } @if(form.controls.email.errors.required){
              <div class="text-danger">Email is required</div>

              } }
            </div>
            <div class="form-group mt-3">
              <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Password"
                [ngClass]="{
                  'is-invalid': submitted && form.controls.password.errors
                }"
              />
              @if(submitted && form.controls.password.errors ){
              @if(form.controls.password.errors.minlength){
              <div class="text-danger">
                Password should at least 8 characters
              </div>
              } @if(form.controls.password.errors.required){
              <div class="text-danger">Password is required</div>

              } }
            </div>
            <div class="form-group mt-3">
              <button class="form-control btn auth-btn submit px-3 mb-2">
                Log In
              </button>
            </div>
            <div class="form-group align-items-end">
              <a [routerLink]="['/', 'home', 'reset-password']" class="pet-link"
                >Forgot Password?</a
              >
            </div>
          </form>
          <p class="text-center mt-3">
            "Not a member? "
            <a [routerLink]="['/', 'home', 'register']" class="pet-link"
              >Sign Up</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
