<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-group">
  <div class="row justify-content-between">
    <div class="col-sm-6 col-12 mb-2 row pe-0">
      <div class="col-6 col-sm-12">
        <img [src]="url" class="w-100" style="height: 200px" />
      </div>
      @if(!isEmployee){
      <div class="mt-sm-2 col-6 col-sm-12 d-flex align-items-center">
        <input type="file" #fileInput (change)="onSelectFile($event)" />
      </div>

      }
    </div>
    <div class="col-12 col-sm-6">
      <div class="col-12">
        <div class="mb-3 mb-sm-0">
          <div class="col-form-label">Tên</div>
          <input
            [readonly]="isEmployee"
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{
              'is-invalid': submitted && dataForm.controls.name.errors
            }"
            placeholder="Điền tên nhân viên"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3 mb-sm-0">
          <div class="col-form-label">Chức vụ</div>
          @if(isEmployee){
          <input
            readonly
            type="text"
            class="form-control"
            [value]="getRole()"
          />
          } @else {

          <select
            class="form-select"
            formControlName="role"
            [ngClass]="{
              'is-invalid': submitted && dataForm.controls.role.errors
            }"
          >
            <option value="" disabled>--Chọn chức vụ--</option>

            <option value="e">Nhân viên</option>
            <option value="s">Bảo vệ</option>
            <option value="m">Quản lý</option>
          </select>
          }
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3 mb-sm-0">
          <div class="col-form-label">Trạng thái</div>
          @if(isEmployee){
          <input
            readonly
            type="text"
            class="form-control"
            [value]="getStatus()"
          />
          } @else {
          <select
            class="form-select"
            formControlName="status"
            [ngClass]="{
              'is-invalid': submitted && dataForm.controls.status.errors
            }"
          >
            <option value="" disabled>--Chọn trạng thái--</option>
            <option value="w">Làm việc</option>
            <option value="q">Nghỉ việc</option>
            <option value="l">Tạm nghỉ</option>
          </select>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="mb-3 mb-sm-0">
        <div class="col-form-label">Ngày vào</div>
        <input
          [readonly]="isEmployee"
          type="date"
          class="form-control"
          formControlName="date_of_joining"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3 mb-sm-0">
        <div class="col-form-label">Số điện thoại</div>
        <input
          [readonly]="isEmployee"
          type="text"
          class="form-control"
          formControlName="phone_number"
          [ngClass]="{
            'is-invalid': submitted && dataForm.controls.phone_number.errors
          }"
          placeholder="Điền số điện thoại"
        />
      </div>
    </div>
  </div>

  <div class="mb-3 mb-sm-0">
    <div class="col-form-label">Địa chỉ</div>
    <input
      [readonly]="isEmployee"
      type="text"
      class="form-control"
      formControlName="address"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.address.errors
      }"
      placeholder="Điền địa chỉ"
    />
  </div>
  @if(isUpdate){

  <div class="mb-3 mb-sm-0">
    <div class="col-form-label">Tài khoản</div>
    @if(dataForm.controls.account.value){
    <input
      type="text"
      class="form-control"
      formControlName="account"
      readonly
    />
    <button
      class="btn pet-btn mt-2"
      type="button"
      (click)="account('password')"
    >
      Tạo mật khẩu mới
    </button>
    <span class="ms-2 text-danger">{{ new_pass }}</span> } @else {
    <button class="btn pet-btn mt-2" type="submit" (click)="account('account')">
      Tạo tài khoản nhân viên
    </button>

    }
  </div>
  } @if(!isEmployee){
  <div class="pet-model-footer">
    @if(isUpdate){
    <button class="btn pet-btn" type="submit">Cập nhật</button>
    } @else{
    <button class="btn pet-btn" type="submit">Thêm</button>
    }
  </div>

  }
</form>
