.pet-navbar {
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px var(--sub-text-color);
}
.pet-nav-item {
  color: var(--primary-backgroud-color);
}
.pet-nav-item:hover {
  color: var(--sub-text-color);
}
.content-wrapper {
  height: 100vh;
  margin-top: 0;
  padding-left: 0;
  padding-top: 50px;
  background-image: url("../../../images/background-img.jpg");
  background-repeat: repeat;
}
.pet-nav-avatar {
  margin-right: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .pet-nav-avatar {
    display: none;
  }
  .pet-nav-item.pet-nav-username {
    font-size: 1.25rem;
  }
}
