#anchor {
  height: 50px;
  width: 100%;
}

.pet-nav-item {
  font-size: 1.25rem;
}

.pet-nav-item,
.pet-nav-link {
  color: var(--primary-backgroud-color) !important;
}
.pet-nav-item:hover,
.pet-nav-link:hover {
  color: var(--sub-text-color) !important;
}

.pet-nav-brand .pet-nav-item {
  font-size: 2rem;
}

.content-wrapper {
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  background-size: 1200px;
  scroll-behavior: smooth !important;

  background-image: url("../../../images/petitemsBG.jpg");
  background-repeat: repeat;
  background-attachment: local;
}

hr {
  border-color: white;
  background-color: white;
  opacity: 1;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
