<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-group">
  <div class="mb-3">
    <div class="col-form-label">{{ componentName }} Name:</div>
    <input
      type="text"
      class="form-control"
      placeholder="Enter {{ componentName }} Name"
      [ngClass]="{ 'is-invalid': submitted && dataForm.controls.name.errors }"
      formControlName="name"
    />
  </div>
  <div class="mb-3">
    <div class="col-form-label">Address:</div>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Address"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.address.errors
      }"
      formControlName="address"
    />
  </div>
  <div class="mb-3">
    <div class="col-form-label">Email:</div>
    <input
      type="email"
      class="form-control"
      placeholder="Enter Email"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.email.errors
      }"
      formControlName="email"
    />
  </div>

  <div class="mb-3">
    <div class="col-form-label">Phone Number:</div>
    <input
      type="text"
      class="form-control"
      placeholder="Enter Phone Number"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.phone_number.errors
      }"
      formControlName="phone_number"
    />
  </div>

  <div class="pet-model-footer">
    @if(isUpdate){
    <button class="btn pet-btn" type="submit">Update</button>
    } @else{
    <button class="btn pet-btn" type="submit">Add</button>
    }
  </div>
</form>
