<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-group">
  <div class="mb-3">
    <div class="col-form-label">Tên nhà cung cấp:</div>
    <input
      type="text"
      class="form-control"
      placeholder="Nhập tên {{ componentName }}"
      [ngClass]="{ 'is-invalid': submitted && dataForm.controls.name.errors }"
      formControlName="name"
    />
  </div>
  <div class="mb-3">
    <div class="col-form-label">Địa chỉ:</div>
    <input
      type="text"
      class="form-control"
      placeholder="Nhập địa chỉ"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.address.errors
      }"
      formControlName="address"
    />
  </div>
  <div class="mb-3">
    <div class="col-form-label">Email:</div>
    <input
      type="email"
      class="form-control"
      placeholder="Nhập Email"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.email.errors
      }"
      formControlName="email"
    />
  </div>

  <div class="mb-3">
    <div class="col-form-label">Số điện thoại:</div>
    <input
      type="text"
      class="form-control"
      placeholder="Nhập số điện thoại"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.phone_number.errors
      }"
      formControlName="phone_number"
    />
  </div>

  <div class="pet-model-footer">
    @if(isUpdate){
    <button class="btn pet-btn" type="submit">Cập nhật</button>
    } @else{
    <button class="btn pet-btn" type="submit">Thêm</button>
    }
  </div>
</form>
