<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-group">
  <div class="row">
    <div class="col-sm-6 col-12 row mb-2">
      <div class="col-6 col-sm-12">
        <img [src]="url" class="w-100" style="height: 200px" />
      </div>
      <div class="mt-sm-2 col-6 col-sm-12 d-flex align-items-center">
        <input type="file" #fileInput (change)="onSelectFile($event)" />
      </div>
    </div>
    <div class="col-12 col-sm-6 row">
      <div class="col-12">
        <div class="mb-3 mb-sm-0">
          <div class="col-form-label">Tên sản phẩm</div>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{
              'is-invalid': submitted && dataForm.controls.name.errors
            }"
            placeholder="Nhập tên sản phẩm"
          />
        </div>

        <div class="mb-3 mb-sm-0">
          <div class="col-form-label">Giá</div>
          <input
            type="number"
            class="form-control"
            formControlName="price"
            [ngClass]="{
              'is-invalid': submitted && dataForm.controls.price.errors
            }"
            placeholder="Nhập giá"
          />
        </div>

        <div class="mb-3 mb-sm-0">
          <div class="col-form-label">Số lượng</div>
          <input
            type="number"
            class="form-control"
            formControlName="quantity"
            [ngClass]="{
              'is-invalid': submitted && dataForm.controls.quantity.errors
            }"
            placeholder="Nhập số lượng"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-form-label">Loài</div>
    <select
      class="form-select"
      formControlName="species"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.species.errors
      }"
    >
      <option value="" disabled>--Chọn loài--</option>
      @for(item of speciesList; track item){
      <option value="{{ item.id }}">{{ item.name }}</option>
      }
    </select>
  </div>

  <div class="mb-3">
    <div class="col-form-label">Phân loại</div>
    <select
      class="form-select"
      formControlName="category"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.category.errors
      }"
    >
      <option value="" disabled>--Chọn loại sản phẩm--</option>
      @for(item of categoryList; track item){
      <option value="{{ item.id }}">{{ item.name }}</option>
      }
    </select>
  </div>

  <div class="mb-3">
    <div class="col-form-label">Nhà cung cấp</div>
    <select
      class="form-select"
      formControlName="supplier"
      [ngClass]="{
        'is-invalid': submitted && dataForm.controls.supplier.errors
      }"
    >
      <option value="" disabled>--Chọn nhà cung cấp--</option>
      @for(item of supplierList; track item){
      <option value="{{ item.id }}">{{ item.name }}</option>
      }
    </select>
  </div>

  <div class="mb-3 mb-sm-0">
    <div class="col-form-label">Mô tả</div>
    <textarea
      class="form-control"
      formControlName="description"
      placeholder="Enter Description"
    ></textarea>
  </div>

  <div class="pet-model-footer">
    @if(isUpdate){
    <button class="btn pet-btn" type="submit">Cập nhật</button>
    } @else{
    <button class="btn pet-btn" type="submit">Thêm</button>
    }
  </div>
</form>
