<div id="anchor"></div>
<section id="home" class="text-sub-pet text-center">
  <div class="home-thumnail"></div>
  <div class="container d-flex align-items-center justify-content-center mt-4">
    <div>
      <h1>Chào mừng đến với<span class="text-pet"> PetCare </span></h1>
      <p class="lead my-4">
        <span class="text-pet"> PetCare </span> là nơi tụ hội của những trái tim
        yêu thương động vật. Chúng tôi biết rằng mỗi thú cưng đều đặc biệt và
        xứng đáng được chăm sóc tận tâm như một thành viên trong gia đình.
      </p>
    </div>
  </div>
</section>
<section id="about" class="p-2 p-sm-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5 text-justify">
        <h2 class="text-pet mb-2">Tại sao chọn PetCare?</h2>
        <p class="lead">
          Tại <span class="text-pet"> PetCare </span>, chúng tôi mang đến sự
          chăm sóc tận tâm và chuyên nghiệp cho thú cưng của bạn trong một môi
          trường an toàn và thân thiện. Với đội ngũ giàu kinh nghiệm và tình yêu
          động vật, chúng tôi cung cấp dịch vụ đa dạng và chất lượng cao, từ
          nuôi hộ, chăm sóc sắc đẹp, huấn luyện đến vận chuyển thú cưng. Chúng
          tôi cam kết mang lại giá trị tốt nhất với mức giá hợp lý, đảm bảo thú
          cưng của bạn luôn nhận được sự chăm sóc chu đáo và yêu thương.
        </p>
      </div>
      <div class="col-md">
        <img src="../assets/thumnail2.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<section id="about" class="p-5">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md">
        <img src="../assets/thumnail4.jpeg" class="img-fluid" alt="" />
      </div>
      <div class="col-md p-5 text-justify">
        <h2 class="text-pet">Đội Ngũ Của Chúng Tôi</h2>
        <div class="lead">
          Đội ngũ của chúng tôi không chỉ là những chuyên gia, mà còn là những
          người bạn đồng hành đáng tin cậy của thú cưng.
        </div>
        <div>
          <ul class="text-sub-pet">
            <li class="mt-2">
              <b>Kinh Nghiệm Phong Phú:</b> Với nhiều năm kinh nghiệm trong lĩnh
              vực chăm sóc và huấn luyện thú cưng, chúng tôi hiểu rõ nhu cầu và
              tâm lý của từng loài.
            </li>
            <li class="mt-2">
              <b>Tình Yêu Động Vật:</b> Tình yêu và sự quan tâm chúng tôi dành
              cho thú cưng là không gì sánh bằng. Mỗi thành viên trong đội ngũ
              đều yêu thương và trân trọng mọi khoảnh khắc bên thú cưng.
            </li>
            <li class="mt-2">
              <b>Tận Tâm và Chu Đáo:</b> Chúng tôi luôn đặt lợi ích và sự thoải
              mái của thú cưng lên hàng đầu, đảm bảo chúng luôn được chăm sóc
              tận tình và chu đáo.
            </li>
            <li class="mt-2">
              <b>Chuyên Môn Cao:</b> Đội ngũ của chúng tôi bao gồm các chuyên
              gia được đào tạo chuyên sâu về chăm sóc, huấn luyện và làm đẹp cho
              thú cưng, đảm bảo dịch vụ chất lượng cao nhất.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="anchor2"></div>
<section id="services" class="mt-5 p-5 bg-sub-pet">
  <div class="container">
    <h1 class="text-center text-white mb-5">Dịch vụ tại PetCare</h1>
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light h-100">
          <div class="card-body text-center">
            <div class="text-pet">
              <i class="bi bi-house"></i>
            </div>
            <h3 class="card-title mb-3 text-sub-pet mt-1">Nuôi Hộ Thú Cưng</h3>
            <p class="card-text lead">
              Khi bạn đi xa, thú cưng của bạn sẽ có một nơi ở an toàn và thân
              thiện với đầy đủ tiện nghi. Chúng tôi cung cấp dịch vụ chăm sóc
              thú cưng 24/7, đảm bảo chúng luôn cảm thấy như ở nhà.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light h-100">
          <div class="card-body text-center">
            <div class="text-pet">
              <i class="bi bi-scissors"></i>
            </div>
            <h3 class="card-title mb-3 text-sub-pet mt-1">Chăm Sóc Sắc Đẹp</h3>
            <p class="card-text lead">
              Tại <span class="text-pet">PetCare</span>, thú cưng của bạn sẽ
              được chăm sóc sắc đẹp từ đầu đến chân. Chúng tôi cung cấp dịch vụ
              tắm, cắt tỉa lông, làm móng và spa thú cưng, giúp chúng luôn xinh
              đẹp và sạch sẽ.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light h-100">
          <div class="card-body text-center">
            <div class="text-pet">
              <i class="bi bi-book"></i>
            </div>
            <h3 class="card-title mb-3 text-sub-pet mt-1">
              Huấn Luyện Thú Cưng
            </h3>
            <p class="card-text lead">
              Các khóa huấn luyện của chúng tôi được thiết kế riêng cho từng chú
              chó và mèo, từ cơ bản đến nâng cao. Chúng tôi giúp thú cưng của
              bạn học hỏi những kỹ năng mới và cải thiện hành vi một cách vui vẻ
              và hiệu quả.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light h-100">
          <div class="card-body text-center">
            <div class="text-pet">
              <i class="bi bi-truck"></i>
            </div>
            <h3 class="card-title mb-3 text-sub-pet mt-1">
              Vận Chuyển Thú Cưng
            </h3>
            <p class="card-text lead">
              Dịch vụ vận chuyển thú cưng của chúng tôi đảm bảo an toàn và tiện
              lợi. Dù là trong nước hay quốc tế, chúng tôi sẽ chăm sóc và đưa
              đón thú cưng của bạn một cách chuyên nghiệp.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="questions" class="p-5">
  <div class="container pt-5">
    <h1 class="text-center mb-4 text-pet">Câu hỏi thường gặp</h1>
    <div class="accordion accordion-flush border">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-one"
          >
            Ai sẽ chăm sóc cho thú cưng của tôi?
          </button>
        </h2>
        <div
          id="question-one"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Đội ngũ nhân viên chuyên nghiệp và yêu động vật của chúng tôi sẽ đảm
            nhận việc chăm sóc cho thú cưng của bạn. Chúng tôi có nhiều năm kinh
            nghiệm chăm sóc thú cưng ở mọi lứa tuổi và giống, đảm bảo rằng thú
            cưng của bạn sẽ được yêu thương và chăm sóc chu đáo trong thời gian
            bạn vắng nhà.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-two"
          >
            Chi phí dịch vụ là bao nhiêu?
          </button>
        </h2>
        <div
          id="question-two"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Chi phí dịch vụ của chúng tôi phụ thuộc vào loại dịch vụ bạn chọn,
            thời gian bạn vắng nhà và nhu cầu đặc biệt của thú cưng. Vui lòng
            truy cập trang web của chúng tôi hoặc liên hệ trực tiếp để biết thêm
            thông tin chi tiết về giá cả.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-three"
          >
            Làm thế nào để thanh toán cho dịch vụ?
          </button>
        </h2>
        <div
          id="question-three"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Chúng tôi chấp nhận thanh toán bằng tiền mặt, thẻ tín dụng hoặc thẻ
            ghi nợ. Bạn có thể thanh toán trực tiếp tại cơ sở của chúng tôi hoặc
            thanh toán trực tuyến qua các ứng dụng ngân hàng.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-four"
          >
            Khi nào tôi sẽ bị tính phí dịch vụ?
          </button>
        </h2>
        <div
          id="question-four"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Bạn sẽ bị tính phí dịch vụ khi bạn đặt lịch hẹn cho thú cưng của
            mình. Bạn có thể hủy đặt chỗ miễn phí 24 giờ trước khi lịch hẹn bắt
            đầu.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-five"
          >
            Bạn có hoàn tiền cho việc hủy dịch vụ không?
          </button>
        </h2>
        <div
          id="question-five"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Chúng tôi sẽ hoàn tiền đầy đủ cho việc hủy dịch vụ nếu bạn hủy trước
            24 giờ trước khi lịch hẹn bắt đầu. Nếu bạn hủy trong vòng 24 giờ
            trước khi lịch hẹn bắt đầu, chúng tôi sẽ tính phí 50% chi phí dịch
            vụ.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="p-5" id="contact">
  <div class="container">
    <div class="row g-4">
      <div class="col-md">
        <h1 class="text-center text-pet">Thông tin liên hệ</h1>
        <h5 class="text-center text-sub-pet mb-4 mt-5">
          Hãy kết nối với chúng tôi để được tư vấn về dịch vụ và thú cưng.
        </h5>
        <ul class="list-group list-group-flush lead border">
          <li class="list-group-item">
            <span class="fw-bold text-sub-pet">Số điện thoại:</span> (555)
            555-5555
          </li>
          <li class="list-group-item">
            <span class="fw-bold text-sub-pet">Email</span>
            petcare&#64;gmail.com
          </li>
        </ul>
        <h5 class="text-center text-sub-pet mb-4 mt-5">
          Hoặc đến trực tiếp cửa hàng
        </h5>
        <ul class="list-group list-group-flush lead border">
          <li class="list-group-item">
            <span class="fw-bold text-sub-pet">Địa Chỉ:</span> 168, đường Nguyễn
            Văn Cừ, phường An Bình, quận Ninh Kiều, thành phố Cần Thơ
          </li>
        </ul>
      </div>
      <div class="col-md">
        <img src="../assets/map.jpg" alt="" class="img-fluid" id="map" />
      </div>
    </div>
  </div>
</section>
<footer class="p-5 bg-pet text-white text-center position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start">
        <div>
          <h4 class="text-white">
            Hãy đăng ký để trở thành một thành viên của PetCare
          </h4>
          <p class="text-white">
            Đặt dịch vụ trực tuyến, theo dõi nhật ký và hơn thế nữa
          </p>
          <a [routerLink]="['/', 'home', 'register']" class="pet-btn-white"
            >Đăng ký</a
          >
        </div>
      </div>
      <div
        class="col-12 col-md-5 row justify-content-center align-items-center"
      >
        <div class="col-auto">
          <a href="#" class="pet-link"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="col-auto">
          <a href="#" class="pet-link"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="col-auto">
          <a href="#" class="pet-link"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="col-auto">
          <a href="#" class="pet-link"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="col-auto">
          <a href="#" class="pet-link"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </div>
    <a
      (click)="scrollTo('anchor')"
      class="position-absolute bottom-0 end-0 p-5 text-white"
      ><i class="fs-1 bi bi-arrow-up-circle"></i
    ></a>
  </div>
</footer>
