:root {
  --primary-color: #2ea1a1;
  --primary-backgroud-color: #fcfcfc;
  --shadow-color: #e1e1e1;
  --sub-text-color: #6f6f6f;
}

a {
  text-decoration: none;
}
.table th {
  color: var(--sub-text-color);
}

.pet-navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-backgroud-color);
  border-bottom: 1px solid transparent;
  height: 50px;
  left: 0;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 24;
  box-shadow: 0 2px 3px var(--shadow-color);
}
.pet-nav-left {
  margin-right: auto;
}
.pet-nav-brand {
  margin-right: 20px;
}
.pet-nav-right {
  margin-left: auto;
}
.pet-nav-right .pet-nav-item {
  margin-left: 15px;
}
.pet-link {
  color: var(--primary-color);
}

.pet-nav-left,
.pet-nav-right,
.pet-nav-item,
.pet-nav-brand {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: normal;
  height: 50px;
}

.pet-nav-item {
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: none;
}

.pet-link:hover,
.pet-nav-item:hover {
  color: var(--sub-text-color);
}
.sidebar-wrapper {
  position: absolute;
  top: 50px;
}
.sidebar {
  padding-bottom: 70px;
  position: fixed;
  left: 0;
  width: 200px;
  height: calc(100% - 50px);
  border-right: 1px solid var(--primary-color);
  background-color: var(--primary-backgroud-color);
  color: var(--primary-color);
  z-index: 20;
  transition: all 0.25s ease-out;
  box-shadow: 2px 2px 3px var(--shadow-color);
}
.overflow-hidden {
  overflow: hidden !important;
}
.content-wrapper {
  width: 100%;
  overflow-x: hidden;
  margin-top: 50px;
  padding-left: 200px;
  padding-bottom: 50px;
  transition: all 0.25s ease-out;
}
.sidebar-main-content {
  padding-top: 15px;
  text-align: center;
  background-color: transparent;
}
.sidebar-item {
  margin-top: 15px;
  position: relative;
  padding-left: 15px;
  text-align: left;
}
.sidebar-link {
  color: var(--sub-text-color);
}
.sidebar-link:hover {
  color: var(--primary-color);
}
.sidebar-title {
  position: relative;
  padding: 15px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: -3.5rem;
  top: 0.6rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

#toggle-btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  color: var(--primary-color);
}
#toggle-btn:hover {
  color: #6f6f6f;
}
.overflow-y-scroll {
  overflow-y: auto !important;
  max-height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) white;
}
.edit-btn {
  color: #ffc107;
}
.delete-btn {
  color: #dc3545;
}
.add-btn {
  color: #2ea1a1;
}
.page-item {
  margin: 0 1px;
}
.page-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.page-link:hover {
  border: 1px solid var(--primary-color);
}
.page-item:active {
  box-shadow: none;
}

.page-item.active .page-link {
  background-color: var(--primary-color);
  color: white;
}

.pet-btn {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: bold;
}
.pet-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
.total-item {
  font-size: 20px;
  color: var(--primary-color);
}

.add-btn,
.edit-btn,
.delete-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: normal;
}
.search-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
}

.management-header {
  margin: 20px 10px 30px;
  color: var(--primary-color);
}
.pet-model-footer {
  text-align: end;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 1rem;
  margin-top: 2rem;
}
.modal-title {
  color: var(--primary-color);
}

.form-control:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}
.sorting-btn {
  color: var(--sub-text-color);
  padding: 0;
  background: transparent;
  border: none;
  font-weight: bold;
}

.auth-wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 8px 20px 3px rgba(0, 0, 0, 0.24);
  border: 1px solid var(--primary-color);
}

.auth-btn {
  background-color: var(--primary-color);
  color: #fff;
}
.auth-btn:hover {
  background-color: var(--sub-text-color);
}

.auth-img {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1200px) {
  .pet-navbar {
    padding: 0 15px;
  }
  .sidebar {
    left: -200px;
    width: 0;
    transition: all 0.25s ease-out;
  }

  .sidebar-wrapper.is-opened .sidebar {
    left: 0;
    width: 200px;
    transition: all 0.25s ease-out;
  }
  .content-wrapper {
    padding-left: 0;
    transition: all 0.25s ease-out;
  }
}

@media (max-width: 768px) {
  .hidden-xs-down {
    display: none !important;
  }
  .content-wrapper {
    transition: all 0.25s ease-out;
  }
}
