@if(userService.userData$ | async; as userData){
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
        <button
          id="edit-model-close-btn"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="subDataForm"
          (ngSubmit)="addItem()"
          class="row form-group"
        >
          <div class="col-12 col-sm-6">
            <div class="mb-3 mb-sm-0">
              <div class="col-form-label">Id</div>
              <input
                (focusout)="searchProduct()"
                type="text"
                class="form-control"
                formControlName="id"
                [ngClass]="{
                  'is-invalid': subSubmitted && subDataForm.controls.id.errors
                }"
                placeholder="Nhập Id sản phẩm để tìm"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="mb-3 mb-sm-0">
              <div class="col-form-label">Số lượng</div>
              <input
                type="number"
                min="0"
                class="form-control"
                formControlName="quantity"
                [ngClass]="{
                  'is-invalid':
                    subSubmitted && subDataForm.controls.quantity.errors
                }"
                placeholder="Nhập số lượng"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3 mb-sm-0">
              <div class="col-form-label">Tên sản phẩm</div>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                [ngClass]="{
                  'is-invalid': subSubmitted && subDataForm.controls.name.errors
                }"
                readonly
              />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="mb-3 mb-sm-0">
              <div class="col-form-label">Giá</div>
              <input
                type="number"
                class="form-control"
                formControlName="price"
                [ngClass]="{
                  'is-invalid':
                    subSubmitted && subDataForm.controls.price.errors
                }"
                readonly
              />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="mb-3 mb-sm-0">
              <div class="col-form-label">Tạm tính</div>
              <input
                value="{{
                  this.subDataForm.get('quantity')?.value *
                    this.subDataForm.get('price')?.value
                }}"
                type="number"
                class="form-control"
                readonly
              />
            </div>
          </div>
          <div class="pet-model-footer">
            <button class="btn pet-btn" type="submit">Thêm sản phẩm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="showModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hóa đơn</h5>
        <button
          id="edit-model-close-btn"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        @if(data){
        <app-show-detail-product-bill
          [data]="data"
        ></app-show-detail-product-bill>

        }
      </div>
    </div>
  </div>
</div>

<div
  class="container d-flex align-items-center justify-content-center flex-column"
>
  <h1 class="management-header">Tạo Hóa Đơn Sản Phẩm</h1>
  <form [formGroup]="dataForm" class="form-group w-100" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="col-form-label">Nhân viên</div>
        <input
          type="text"
          class="form-control"
          formControlName="employee"
          readonly
        />
      </div>
      <div class="col-sm-6 col-12">
        <div class="col-form-label">Khách hàng</div>
        <div class="col-12">
          <div class="d-flex flex-row">
            <input
              placeholder="Nhập Id, Tên, SĐT khách hàng để tìm"
              type="text"
              class="form-control"
              formControlName="customer"
              [ngClass]="{
                'is-invalid': submitted && dataForm.controls.customer.errors
              }"
            />
            <button
              class="btn pet-btn ms-2"
              type="button"
              (click)="searchCustomer()"
            >
              Tìm
            </button>
          </div>
          <div class="text-success">
            @if(customer){
            {{ customer.name }} - {{ customer.phone_number }}

            }
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="col-form-label">Phương thức thanh toán</div>
        <select formControlName="payment_method" class="form-select">
          <option value="off">Trực tiếp</option>
          <option value="on">Trực tuyến</option>
        </select>
      </div>
      <div class="col-sm-6 col-12">
        <div class="col-form-label">Tổng tiền</div>
        <input
          value="{{ grandTotal }}"
          type="number"
          class="form-control"
          readonly
        />
      </div>
    </div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>ID</th>
          @if(!isMobile){
          <th>Tên</th>

          }
          <th>Giá</th>
          <th>Số lượng</th>
          @if(!isMobile){
          <th>Tạm tính</th>

          }
          <th>
            <button
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              class="btn btn-success"
              type="button"
            >
              +Thêm sản phẩm
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        @for(item of itemList; track item) {
        <tr>
          <td>{{ item.product.id }}</td>
          @if(!isMobile){

          <td>{{ item.product.name }}</td>
          }
          <td>{{ item.product.price }}</td>
          <td>
            <button
              type="button"
              (click)="changeQuantity(item, 'minus')"
              class="btn pet-small-btn"
            >
              <i class="bi bi-dash-square"></i>
            </button>
            {{ item.quantity }}
            <button
              type="button"
              (click)="changeQuantity(item, 'plus')"
              class="btn pet-small-btn"
            >
              <i class="bi bi-plus-square"></i>
            </button>
          </td>
          @if(!isMobile){

          <td>
            {{
              item.product.price && item.quantity
                ? item.product.price * item.quantity
                : 0
            }}
          </td>
          }
          <td>
            <button
              type="button"
              class="delete-btn mr-6"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              (click)="deleteClick(item)"
              data-backdrop="static"
              data-keyboard="false"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    @if(isCreatedBill){
    <button
      class="btn pet-btn me-2"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#showModal"
      data-backdrop="static"
      data-keyboard="false"
    >
      In hóa đơn
    </button>
    <button class="btn pet-btn" type="button" (click)="refresh()">
      Tạo hóa đơn điện tử
    </button>
    } @else{

    <button class="btn pet-btn" type="submit">Xác nhận</button>
    }
  </form>
</div>
}
